/* Styling the universal selector  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* styling the navigation bar  */

.nav-link{
    color: white;
}

.container label{
    margin-right: 30%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    font-weight: bolder;
}

b{
    color: yellow;
}

/* Styling the banner image  */

.myBanner{
    background-image: url(../img/165755_1592573818.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 750px;
    max-height: 850px;
    width: 100%;
}
.myBanner .words{   
    margin-left: 50px;
    margin-top: 70px;
    text-align: right;
    color: black;

}
.carousel-caption p{
    background-color: white;
}

.carousel-caption h4, h6{
    color: black;
}

.carousel-inner p{
    color: black;
}
.carousel-inner h3, h4, h6{
    color: white;
    background-color: black;
}

/* Styling the Why choose us section  */

.choose{
    text-align: center;
}
.quote{
    text-align: center;
}

.about{
    text-align: center;
}
.about h4{
    color: white;
}
.row h4{
    color: white;
}
hr{
    color: white;
}

/* Styling the About us section  */

.about h2{
    color: black;
}

.about h4{
    color: white;
}

/* styling the location part  */

.locate{
    text-align: center;
}

.locate h2{
    color: black;
}

/* Styling other webpages in our website  */

.company{
    text-align: center;
}